.LeftSidebar {
    min-width: 25%;
    width: 25%;
    max-width: 25%;
    padding: 30px;
    background-color: #130646;
    overflow-y: scroll;
}

.LeftSidebar::-webkit-scrollbar {
    display: none;
}