.RightSidebar{
    min-width: 25%;
    width: 25%;
    max-width: 25%;
    padding: 70px 30px;
    background-color: #130646;
    overflow-y: scroll;
}

.friend{
    padding: 5px;
}

/* .friend p{
    color: rgb(194, 176, 255);
} */

.hover:hover{
    background-color: #5A32FB;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}