.RightSidebar{
    min-width: 25%;
    width: 25%;
    max-width: 25%;
    padding: 40px 20px;
    background-color: #130646;
    overflow-y: scroll;
}

.friend{
    padding: 5px;
}

/* .friend p{
    color: rgb(194, 176, 255);
} */
