.gallery-container {
    padding: 100px 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery img{
    max-width:350px;
    max-height: 400px;
    min-width:200px;
    min-height: 200px;
}